.profile {
  display:               grid;
  grid-template-columns: 120px auto 150px;
  grid-gap:              30px;
  padding-bottom:        58px;
  justify-items:         start;
  }

@media screen and (max-width: 618px) {
  .profile {
    padding-bottom:        36px;
    grid-template-columns: 1fr;
    grid-row-gap:          26px;
    justify-items:         center;
    }
  }
